<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>March of the King</title>
    <meta property="og:image" content="img/common/home.cavalry.preview.png">
    <link href="css/bootstrap.min.css" rel="stylesheet" />
    <link href="css/font-awesome.min.css" rel="stylesheet" />
    <link href="css/app.common.css" rel="stylesheet" />
    <link href="css/app.index.css?5" rel="stylesheet" />
</head>
<body>
    </script>
    <div id="app" class="app" v-cloak>
        <div class="title">
            <img src="img/common/home.cavalry.png" />
            <br />
            <div>March of the King</div>
        </div>
        <div class="rooms">
            <table class="table table-bordered" v-if="room.list && room.list.length">
                <thead>
                    <tr>
                        <th>번호</th>
                        <th>이름</th>
                        <th>상태</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(r, idx) in room.list" v-on:click="enter(r.name)">
                        <td>{{ idx + 1 }}</td>
                        <td>{{ r.name }}</td>
                        <td>대기</td>
                    </tr>
                </tbody>
            </table>
            <div class="no-data" v-else>
                <h4>
                    <p>대기 중인 방이 없습니다.</p>
                    <p>
                        <i v-on:click="enter()">+</i>
                        <span>버튼을 눌러 방을 생성해주세요.</span>
                    </p>
                </h4>
            </div>
            <div class="refresh">
                <a class="pointer" v-on:click="refresh()">새로고침</a>
            </div>
            <button type="button" class="add-btn" v-on:click="enter()">+</button>
        </div>
    </div>
    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="js/vue.js"></script>
    <script src="js/app.library.js"></script>
    <script src="js/app.index.js?3"></script>
</body>
</html>