<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>March of the King</title>
    <meta property="og:image" content="img/common/home.cavalry.preview.png">
    <link href="css/bootstrap.min.css" rel="stylesheet" />
    <link href="css/font-awesome.min.css" rel="stylesheet" />
    <link href="css/app.common.css?6" rel="stylesheet" />
    <link href="css/app.index.css?6" rel="stylesheet" />
</head>
<body>
    <div id="app" class="app" v-cloak>
        <div class="top">
            <a class="youtube" href="https://www.youtube.com/channel/UC_AUsiMJrlX25gH8PUvyKGg/playlists"
                target="_blank">
                <i class="fa fa-youtube-play"></i>
            </a>
            <a href="./mypage.html">
                <img src="img/common/index.user.svg" />
            </a>
            <a class="pointer" v-on:click="open()">
                <img src="img/common/index.replay.svg" />
            </a>
            <a href="./help.html">
                <img src="img/common/index.help.svg" />
            </a>
        </div>
        <div class="run">
            <div class="title">
                <img src="img/common/home.cavalry.png" v-on:click="write()" />
                <br />
                <div>March of the King</div>
            </div>
            <div class="contents">
                <div class="dots">-----</div>
                <div class="rooms">
                    <template v-if="room.list && room.list.length">
                        <div class="title">대기 중인 방 목록</div>
                        <ul class="list-group">
                            <li class="list-group-item" v-for="(r, idx) in room.list" v-on:click="enter(r.name)">
                                <span>{{ r.name }}</span>
                                <span class="label label-danger">Go !</span>
                            </li>
                        </ul>
                    </template>
                    <div class="no-data" v-else-if="room.loaded">
                        <p>대기 상태인 방이 없습니다.</p>
                        <p>
                            <span class="pointer" v-on:click="enter()">생성하기</span>
                            <span>버튼을 터치해주세요.</span>
                        </p>
                    </div>
                    <div class="anchors">
                        <a v-on:click="enter()">생성하기</a>
                        <a v-on:click="refresh()">새로고침</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" role="dialog" ref="modal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Replays</h4>
                    </div>
                    <div class="modal-body">
                        <ul class="list-group mb-0" v-if="replay.list.length">
                            <li class="list-group-item" v-for="(r, idx) in replay.list" v-on:click="view(r)">
                                <p>
                                    <span class="label" v-bind:class="[ 'label-' + r.player ]">{{ r.player }}
                                        player</span>
                                    <span class="label label-danger" v-if="r.flows">{{ r.flows.length }} flows</span>
                                    <span class="label label-default" v-if="r.name !== 'preview'">{{ r.date }}</span>
                                </p>
                                <span>{{ r.name }}</span>
                                <button type="button" class="close" v-on:click.stop="remove(idx)"
                                    v-if="r.name !== 'preview'">×</button>
                            </li>
                        </ul>
                        <div class="no-data" v-else-if="replay.loaded">
                            <br />
                            <span>저장된 리플레이가 없습니다.</span>
                            <br /><br />
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default pull-left" v-on:click="clear()"
                            v-if="replay.list.length">Clear</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/vue.js"></script>
    <script src="js/app.global.js"></script>
    <script src="js/app.library.js"></script>
    <script src="js/app.index.js?3"></script>
</body>
</html>