.app .run > .title {
    border-bottom: 1px dotted #ddd;
}

.app .run > .contents {
    padding: 50px 0;
    line-height: 1.8;
}

.app .run > .contents p b {
    background: #3a3a3a;
    color: #fff;
    padding: 0.5rem 0.75rem;
    display: inline-block;
    margin-bottom: 0.5rem;
}
