.app[v-cloak] {
    display: none;
}

.app > .top {
    position: absolute;
    text-align: right;
    padding: 1rem;
    width: 100%;
    top: 0;
    left: 0;
}

.app > .top img {
    height: 2rem;
}

.app .run > .title {
    padding-bottom: 50px;
    border-bottom: 1px dotted #ddd;
}

.app .run .rooms {
    padding: 50px 40px;
}

.app .run .rooms > .title {
    font-size: 13px;
    padding: 0 5px 15px 5px;
    font-weight: bold;
}

.app .run .rooms > ul > li > .label {
    border-radius: 0;
    padding: 0.5em 0.6em;
    float: right;
}

.app .run .rooms .no-data {
    text-align: center;
}

.app .run .rooms .refresh {
    text-align: center;
    font-size: 13px;
}

.app .run .rooms .refresh a {
    display: inline-block;
    margin-top: 10px;
}
