.app[v-cloak] {
    display: none;
}

.app .no-data {
    text-align: center;
}

.app .list-group > .list-group-item {
    padding: 10px;
}

.app .list-group > .list-group-item .close {
    position: absolute;
    right: 9px;
    top: 0;
}

.app .list-group > .list-group-item > .label {
    float: right;
}

.app > .top {
    position: absolute;
    text-align: right;
    padding: 1.5rem;
    width: 100%;
    top: 0;
    left: 0;
}

.app > .top > a {
    margin-left: 1.5rem;
    display: inline-block;
    cursor: pointer;
}

.app > .top > a > img {
    height: 2rem;
}

.app .run > .title {
    border-bottom: 1px dotted #ddd;
}

.app .run .rooms {
    padding: 50px 0;
}

.app .run .rooms > .title {
    font-size: 13px;
    padding: 0 5px 15px 5px;
    font-weight: bold;
}
