@import url("https://fonts.googleapis.com/css2?family=Orbitron&display=swap");

html, body {
    height: 100%;
    overflow: hidden;
    touch-action: manipulation;
}

body {
    overflow: hidden;
}

body > div[data-name="mojs-shape"]::-webkit-scrollbar {
    display: none;
}

body > div[data-name="mojs-shape"] {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

img {
    max-width: 100%;
    max-height: 100%;
}

button {
    outline: 0 !important;
}

.hided {
    display: none;
}

.gravity-center {
    position: absolute;
    top: 50%;
    margin-top: -10px;
    left: 0;
    width: 100%;
    text-align: center;
}

.app {
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.app > .top {
    position: absolute;
    top: 0;
    left: 0;
    background: #2f2f2f;
    color: #fff;
    font-size: 10px;
    width: 100%;
    height: 25px;
    padding: 0 8px;
    line-height: 25px;
}

.app > .top i {
    margin-right: 2.5px;
}

.app > .top i.fa-flag {
    font-size: 10px;
}

.app > .area {
    width: 100%;
    height: 100%;
    position: relative;
    font-size: 0;
    overflow: hidden;
}

.app > .area .area-wrapper {
    position: relative;
    height: 100%;
    overflow: hidden;
}

.app > .area .area-wrapper .each-area {
    background: #f1f1f1;
    display: inline-block;
    width: calc(100%/9);
    outline: 1px solid #d6d6d6;
    height: calc(100%/16);
    position: relative;
    cursor: pointer;
}

.app > .area .area-wrapper .each-area[data-type=land]:after {
    background-image: url(../img/common/tile.zigzag.png);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    content: '';
    opacity: 0.5;
}

.app > .area .area-wrapper .each-area.nature {
    background: none;
}

.app > .area .area-wrapper .each-area .hp .remain {
    background-color: #d82916;

    /* -webkit-transition: none;
    -o-transition: none;
    transition: none; */
}

.app > .area .area-wrapper .each-area .unit,
.app > .area .area-wrapper .each-area .shelter {
    outline: 1px solid #ddd;
}

.app > .area .area-wrapper .each-area .unit,
.app > .area .area-wrapper .each-area .shelter,
.app > .area .area-wrapper .each-area .weapon {
    position: absolute;
    display: inline-block;
    text-align: center;
    width: 100%;
    height: 100%;
    z-index: 10;
}

.app > .area .area-wrapper .each-area .unit[data-status=move],
.app > .area .area-wrapper .each-area .weapon[data-status=move] {
    transition: top 0.2s, left 0.2s;
    -webkit-transition: top 0.2s, left 0.2s;
    z-index: 25;
}

.app > .area .area-wrapper .each-area .unit img,
.app > .area .area-wrapper .each-area .shelter img {
    padding: 7px;
}

.app > .area .area-wrapper .each-area .unit .power,
.app > .area .area-wrapper .each-area .unit .level {
    position: absolute;
    padding: 0 2px;
    font-size: 10px;
}

.app > .area .area-wrapper .each-area .unit .exp {
    position: absolute;
    height: 100%;
    width: 5px;
    padding-bottom: 5px;
}

.app > .area .area-wrapper .each-area .unit .exp .exp-wrapper {
    height: 100%;
    position: relative;
}

.app > .area .area-wrapper .each-area .unit .exp .status {
    width: 100%;
    max-height: 100%;
    background-color: #215da9;
    position: absolute;
}

.app > .area .area-wrapper .each-area .unit .level:before {
    content: 'L';
}

.app > .area .area-wrapper .each-area .unit .hp,
.app > .area .area-wrapper .each-area .shelter .hp {
    position: absolute;
    left: 0;
    width: 100%;
    height: 5px;
    overflow: hidden;
}

.app > .area .area-wrapper .each-area .unit .hp .remain,
.app > .area .area-wrapper .each-area .shelter .hp .remain {
    height: 100%;
}

.app > .area .area-wrapper .each-area[data-owner='white'] {
    background: #fff;
}

.app > .area .area-wrapper .each-area[data-owner='black'] {
    background: #fdfff1;
}

.app > .area .area-wrapper .each-area[data-type='sea'] {
    background: #e0f7f4;
}

.app > .area .area-wrapper .each-area .unit[data-direction='3'] img,
.app > .area .area-wrapper .each-area .weapon[data-direction='3'] img {
    transform: rotate(90deg);
}

.app > .area .area-wrapper .each-area .unit[data-direction='6'] img,
.app > .area .area-wrapper .each-area .weapon[data-direction='6'] img {
    transform: rotate(180deg);
}

.app > .area .area-wrapper .each-area .unit[data-direction='9'] img,
.app > .area .area-wrapper .each-area .weapon[data-direction='9'] img {
    transform: rotate(270deg);
}

.app > .area .area-wrapper .each-area .unit[data-direction='12'] img,
.app > .area .area-wrapper .each-area .weapon[data-direction='12'] img {
    transform: rotate(0);
}

.app > .area .area-wrapper .each-area .unit[data-player=white],
.app > .area .area-wrapper .each-area .shelter[data-player=white] {
    background: rgba(255, 255, 255, 0.85);
}

.app[data-player=black] > .area .area-wrapper .each-area[data-shelter] .unit:not([data-player=black]) {
    display: none;
}

.app[data-player=white] > .area .area-wrapper .each-area[data-shelter] .unit:not([data-player=white]) {
    display: none;
}

.app[data-started=Y] {
    padding: 25px 0 75px 0;
    font-family: 'Orbitron', sans-serif;
}

.app[data-started=Y][data-player=black] > .area {
    padding: 0;
}

.app[data-started=Y][data-player=white] > .area {
    padding: 0;
}

.app[data-player=white] > .area .area-wrapper .each-area .unit[data-player=white] + .shelter[data-player=white] {
    background: rgba(255, 255, 255, 0.7);
}

.app[data-player=black] > .area .area-wrapper .each-area .unit[data-player=black] + .shelter[data-player=black] {
    background: rgba(0, 0, 0, 0.25);
}

.app > .area .area-wrapper .each-area .shelter[data-player=white] img {
    transform: rotate(180deg);
}

.app > .area .area-wrapper .each-area .unit[data-player=white] .power {
    bottom: 0;
    left: 0;
    transform: rotate(180deg);
}

.app > .area .area-wrapper .each-area .unit[data-player=white] .level {
    color: #000;
    top: 5px;
    right: 0;
    background: rgba(255, 255, 255, 0.75);
    transform: rotate(180deg);
}

.app > .area .area-wrapper .each-area .unit[data-player=white] .exp {
    right: 0;
    top: 0;
    padding-bottom: 0;
    padding-top: 5px;
}

.app > .area .area-wrapper .each-area .unit[data-player=white] .exp .status {
    top: 0;
    right: 0;
}

.app > .area .area-wrapper .each-area .unit[data-player=white] .hp,
.app > .area .area-wrapper .each-area .shelter[data-player=white] .hp {
    background: #000;
    top: 0;
}

.app > .area .area-wrapper .each-area .unit[data-player=white][data-direction='3'][data-rotate='90'] img {
    transform: rotate(90deg) scaleX(-1);
}

.app > .area .area-wrapper .each-area .unit[data-player=black],
.app > .area .area-wrapper .each-area .shelter[data-player=black] {
    background: rgba(41, 41, 41, 0.97);
}

.app > .area .area-wrapper .each-area .unit[data-player=black] .power {
    color: #fff;
    top: 0;
    right: 0;
}

.app > .area .area-wrapper .each-area .unit[data-player=black] .level {
    color: #fff;
    bottom: 5px;
    left: 0px;
    background: rgba(0, 0, 0, 0.25);
}

.app > .area .area-wrapper .each-area .unit[data-player=black] .exp {
    left: 0;
    bottom: 0;
}

.app > .area .area-wrapper .each-area .unit[data-player=black] .exp .status {
    bottom: 0;
    left: 0;
}

.app > .area .area-wrapper .each-area .unit[data-player=black] .hp,
.app > .area .area-wrapper .each-area .shelter[data-player=black] .hp {
    background: #fff;
    bottom: 0;
}

.app > .area .area-wrapper .each-area .unit[data-player=black][data-direction='9'][data-rotate='90'] img {
    transform: rotate(270deg) scaleX(-1);
}

.app[data-player=black] > .area .area-wrapper .each-area[data-status=attack],
.app[data-player=black] > .area .area-wrapper .each-area[data-status=attack] .unit,
.app[data-player=black] > .area .area-wrapper .each-area[data-status=attack] .shelter,
.app[data-player=white] > .area .area-wrapper .each-area[data-status=attack],
.app[data-player=white] > .area .area-wrapper .each-area[data-status=attack] .unit,
.app[data-player=white] > .area .area-wrapper .each-area[data-status=attack] .shelter {
    background: orange;
}

.app[data-player=white] > .area .area-wrapper .each-area[data-player=white][data-status=move],
.app[data-player=white] > .area .area-wrapper .each-area[data-owner=white][data-status=enter],
.app[data-player=black] > .area .area-wrapper .each-area[data-player=black][data-status=move],
.app[data-player=black] > .area .area-wrapper .each-area[data-owner=black][data-status=enter] {
    background: #efffcd;
}

.app[data-player=white] > .area .area-wrapper .each-area[data-status=move] .shelter[data-player=white],
.app[data-player=white] > .area .area-wrapper .each-area[data-status=enter] .shelter[data-player=white] {
    background: #dcecb7;
}

.app[data-player=black] > .area .area-wrapper .each-area[data-status=move] .shelter[data-player=black],
.app[data-player=black] > .area .area-wrapper .each-area[data-status=enter] .shelter[data-player=black] {
    background: #546f18;
}

.app > .area .area-wrapper .each-area .show-up {
    position: absolute;
    display: inline-block;
    font-size: 9px;
    color: #fff;
    padding: 1px 3px;
    z-index: 50;
}

.app > .area .area-wrapper .each-area .show-up[data-act=attack] {
    background: #ff4141;
}

.app > .area .area-wrapper .each-area .show-up[data-act=restoreHp] {
    background: yellowgreen;
}

.app > .area .area-wrapper .each-area .show-up[data-act=levelUp] {
    background: #215da9;
}

.app > .area .area-wrapper .each-area .show-up[data-player=white] {
    bottom: 0;
    right: 0;
    transform: rotate(180deg);
}

.app > .area .area-wrapper .each-area .show-up[data-player=black] {
    top: 0;
    left: 0;
}

.app[data-player=black] > .area .area-wrapper .each-area.active .unit[data-player=black],
.app[data-player=white] > .area .area-wrapper .each-area.active .unit[data-player=white] {
    background: #b3b3b3;
}

.app > .bottom {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    border-top: 1px solid #ddd;
    height: 75px;
    font-size: 10px;
}

.app[data-player=black] > .bottom {
    background: #2f2f2f;
    color: #fff;
}

.app[data-player=white] > .bottom {
    background: #fff;
}

.app > .bottom > .status {
    padding: 0 8px;
    height: 25px;
    line-height: 25px;
}

.app > .bottom > .player {
    position: absolute;
    width: 100%;
    left: 0;
    height: 50px;
}

.app > .bottom > .player .units {
    width: 100%;
    position: absolute;
    white-space: nowrap;
    overflow: auto;
    height: 100%;
    -webkit-overflow-scrolling: touch;
}

.app > .bottom > .player .each-unit {
    cursor: pointer;
    height: 100%;
    position: relative;
    text-align: center;
    float: left;
    overflow: hidden;
    width: calc(100%/9);
}

.app > .bottom > .player .each-unit {
    padding: 6px 8px 24px 8px;
}

.app > .bottom > .player .each-unit * {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.app > .bottom > .player .each-unit img[data-rotate='90'] {
    transform: rotate(90deg);
}

.app > .bottom > .player .each-unit div {
    text-align: center;
    font-size: 9px;
    line-height: 1;
    position: absolute;
    left: 0;
    width: 100%;
}

.app > .bottom > .player .action {
    display: inline-block;
    font-size: 12px;
    padding: 6px;
    height: 100%;
    width: calc(100%/9*2);
    position: relative;
}

.app > .bottom > .player .action > button {
    width: 100%;
    height: 100%;
    font-weight: bold;
    letter-spacing: 1px;
    border: 0;
}

.app > .bottom > .player {
    bottom: 0;
    border-top: 1px solid #ddd;
}

.app > .bottom > .player .units {
    left: 0;
}

.app > .bottom > .player .each-unit {
    border-right: 1px solid #ddd;
}

.app > .bottom > .player .each-unit.active {
    background: #b3b3b3;
}

.app > .bottom > .player .each-unit div {
    bottom: 3px;
}

.app > .bottom > .player .action {
    float: right;
}

.app > .bottom > .player .action button {
    background: none;
}

.app .pause-area {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #000;
    top: 0;
    left: 0;
    text-align: center;
}

.app .label-area {
    position: absolute;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.76);
    font-size: 16px;
    color: #fff;
    text-align: center;
    top: 50%;
    font-weight: 600;
    margin-top: -34px;
    padding: 20px 0;
    z-index: 100;
}

.app .label-area[data-player=white] {
    transform: rotate(180deg);
    background: rgba(255, 255, 255, 0.9);
    color: #333;
}

.app .url-area {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 25px 10px 50px 10px;
    text-align: center;
}

.app .url-area > .wrapper {
    padding: 0 20px;
}

.app .url-area > .wrapper > .title {
    font-size: 25px;
    font-style: italic;
    display: inline-block;
    margin-top: 25px;
}

.app .url-area > .wrapper > .text {
    font-size: 14px;
    margin-top: 10px;
}

.app .url-area > .wrapper .input-group {
    margin-top: 35px;
}

.app .url-area > .wrapper .input-group input {
    outline: 0 !important;
    background: #fff;
    box-shadow: none;
}

.app .url-area > .wrapper .input-group input:focus {
    border-color: #ccc;
}

.app .url-area > .wrapper .room {
    font-size: 14px;
    margin: 10px 0;
}

.app .modal-area {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    padding: 20px;
    z-index: 100;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

.app .modal-area .img-part {
    margin: 10% 0 12.5% 0;
    text-align: center;
}

.app .modal-area .img-part span {
    padding: 30px;
    display: inline-block;
    border-radius: 50%;
    width: 120px;
    height: 120px;
}

.app .modal-area[data-player=white] .img-part span {
    background: rgba(255, 255, 255, 0.85);
}

.app .modal-area[data-player=black] .img-part span {
    background: rgba(0, 0, 0, 0.76);
}

.app .modal-area .img-part span img[data-rotate='90'] {
    transform: rotate(90deg);
}

.app .modal-area .info-part table {
    border-bottom: 1px solid #ddd;
}

.app .modal-area .info-part table th, .app .modal-area .info-part table td {
    font-size: 11px;
    color: #fff;
}

.app .modal-area .info-part table th {
    text-align: right;
    font-weight: 600;
}

.app .modal-area .close-btn {
    position: absolute;
    top: 0;
    color: #fff;
    right: 10px;
    font-size: 50px;
    font-family: initial;
}

.app[data-started=Y][data-player=white] > .area {
    transform: rotate(180deg);
}

.app[v-cloak] {
    display: none;
}

@media (min-height: 1024px) {
    .app > .area {
        padding: 7px 0;
    }

    .app > .bottom > .player {
        height: 7px;
    }
}

@media (min-height: 1366px) {
    .app > .area {
        padding: 85px 0;
    }

    .app > .bottom > .player {
        height: 85px;
    }
}
