.app .run > .contents {
    line-height: 1.8;
    padding-bottom: 10px;
}

.app .run > .contents ul.nav {
    padding-bottom: 30px;
    margin-bottom: 30px;
}

.app .run > .contents ul.nav > li > a {
    padding: 9px 5px;
    font-size: 12px;
    border: 1px solid #aaa;
    border-radius: 0;
    color: #3a3a3a;
    width: 50px;
    text-align: center;
    height: 50px;
}

.app .run > .contents ul.nav > li.active > a {
    background: #3a3a3a;
    border-color: #3a3a3a;
    color: #fff;
}

.app .run > .contents .tab-content label {
    padding: 5px 7.5px;
    margin-bottom: 7.5px;
}
