.app .run > .title {
    border-bottom: 1px dotted #ddd;
}

.app .run > .contents {
    padding: 50px 0;
    line-height: 1.8;
}

.app .run > .contents label {
    padding: 0.5rem 0.75rem;
    margin-bottom: 0.75rem;
}
